@using System.IO 
<h3>Component</h3>
<RazorClassLibrary1.Component1></RazorClassLibrary1.Component1>

@code {
    protected override void OnInitialized()
    {
        File.ReadAllLines(@"c:\temp\test.txt");
    }
}
