@page "/todo"
@using System.Text.Json
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject WebHostEnvironment environment
<h3>Aufgaben</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Aufgabe eingeben" @bind="NeuAufgabe">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="AddAufgabe">Neu</button>
    </div>
</div>

<ul class="list-group">
    @foreach (var item in ListeAufgaben)
    {
        <li class="list-group-item">
            @item.Text
        </li>
    }
</ul>

@code {
    public List<Aufgabe> ListeAufgaben { get; set; } = new List<Aufgabe>();
    public string NeuAufgabe { get; set; }
    void AddAufgabe()
    {
        ListeAufgaben.Add(new Aufgabe() { ID = ListeAufgaben.Count() + 1, Text = NeuAufgabe });
        var daten = JsonSerializer.Serialize(ListeAufgaben);
        var file = Path.Combine(_environment.ContentRootPath,
"wwwroot/upload", Datei.FileName);
    }

}
