@page "/uc"
<h3>UseComponent</h3>
<Component42 MyProperty="Hannes" @ref="hannes"></Component42>
<RazorClassLibrary1.Component1></RazorClassLibrary1.Component1>

@code { 
    Component42 hannes;
    protected override void OnInitialized()
    {
        hannes.extMyProperty = "Preishuber";
   }
}
